@font-face {
  font-family: "TTLakes";
  src: 
  local("TTLakes"),
  url("/fonts/TTLakes-Black.woff") format("woff"),
  url("/fonts/TTLakes-Regular.woff") format("woff"),
  url("/fonts/TTLakes-ThinItalic.woff") format("woff"),
  url("/fonts/TTLakes-Thin.woff") format("woff");
}

html {
scroll-behavior: smooth;
margin: 0 auto;
}
body {
  font-family: $font-main;
  width: $tablet-width;
}
.wrapper {
  margin: 20px 16px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &__color {
    background-color: $btn-color;
  }
}