@font-face {
  font-family: "TTLakes";
  src: 
  local("TTLakes"),
  url("/fonts/TTLakes-Black.woff") format("woff"),
  url("/fonts/TTLakes-Regular.woff") format("woff"),
  url("/fonts/TTLakes-ThinItalic.woff") format("woff"),
  url("/fonts/TTLakes-Thin.woff") format("woff");
}

html {
scroll-behavior: smooth;
margin: 0 auto;
}
body {
  font-family: $font-main;
}
.wrapper {
  margin: 20px 16px 0;
}
