$font-main: 'TT Lakes';
// Colors
$color-line: #EAEAEA;
$color-link: #7E7E82;
$color-text: #1B1C21;
$border-color: #B8FFEC;
$bg-color: #F8F8F8;

// Width 
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1120px;